* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
/* content */
body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* overflow-x: hidden; */
}
.tab-inner {
  input[type="radio"] {
    display: none;
  }
  input[id="tab1"]:checked ~ .tabs .items {
    left: 0;
  }
  input[id="tab2"]:checked ~ .tabs .items {
    left: -100%;
  }
  input[id="tab3"]:checked ~ .tabs .items {
    left: -200%;
  }
  input[id="tab1"]:checked ~ .btn label[for="tab1"],
  input[id="tab2"]:checked ~ .btn label[for="tab2"],
  input[id="tab3"]:checked ~ .btn label[for="tab3"] {
    color: #dc143c;
  }
  input[id="tab1"]:checked ~ .tabs .items:nth-child(1) h1,
  input[id="tab2"]:checked ~ .tabs .items:nth-child(2) h1,
  input[id="tab3"]:checked ~ .tabs .items:nth-child(3) h1 {
    transform: translateY(200px);
  }

  .tabs {
    width: 100%;
    height: 100%;
    .items {
      display: flex;
      position: absolute;
      width: 300%;
      height: 100%;
      top: 0;
      left: 0;
      div {
        width: 33.33%;
        height: 100%;
        position: relative;
        &:nth-child(1) {
          background: url("./img/photo-01.jpg") center/cover no-repeat;
        }
        &:nth-child(2) {
          background: url("./img/photo-02.jpg") center/cover no-repeat;
        }
        &:nth-child(3) {
          background: url("./img/photo-03.jpg") center/cover no-repeat;
        }
        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }
        &:nth-child(1)::before {
          background: linear-gradient(135deg, gold, transparent);
        }
        &:nth-child(2)::before {
          background: linear-gradient(135deg, #dc143c, transparent);
        }
        &:nth-child(3)::before {
          background: linear-gradient(135deg, royalblue, transparent);
        }
        h1 {
          position: relative;
          text-align: center;
          font-size: 56px;
          color: #fff;
          transform: translatey(-200%);
          transition: transform 0.3em;
          transition-delay: 0.5s;
        }
      }
    }
  }
  .btn {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    gap: 15px;
    background: rgba(0, 0, 0, 0.3);
    color: aliceblue;
    label {
      cursor: pointer;
    }
  }
}
